.dashboardContainer {
  padding: 30px;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(238, 205, 144), rgb(201, 132, 107));
  color: white;
}



.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: orangered;
}



.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: rgba(234, 202, 167, 0.9);
  backdrop-filter: blur(8px);
  color: #333;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #777;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  color: orangered;
}


.mapSection {
  margin-bottom: 40px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}


.buttonSection {
  margin-top: 20px;
}

.buttonSection h2 {
  color: rgb(255, 119, 0);
  margin-bottom: 10px;
  font-size: 22px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.buttonCard {
  background: rgba(234, 202, 167, 0.9);
  color: #333;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.buttonCard:hover {
  transform: scale(1.05);
}

.buttonCard h4 {
  margin-bottom: 5px;
  color: orangered;
}

.buttonCard p {
  font-weight: bold;
}