.cartContainer {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to right, rgb(233, 194, 123), rgb(223, 140, 110));
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.empty {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background: #ffffff65;
  opacity: 1; /* ✅ use 0–1 instead of 100 */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}


.productImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.details h3 {
  margin: 0;
  font-size: 18px;
  color: #222;
}

.details p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.subtotal {
  font-weight: bold;
  color: #111;
}

.cartSummary {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.checkoutBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(to right, orange, orangered);;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.checkoutBtn:hover {
  background: #1d4ed8;
}

.btngroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 30px;
  height: 22px;
  background: linear-gradient(to right, orange, orangered);
  color: white;
  border: none;
  border-radius: 5px;
}