
.loadingoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(190, 160, 160, 0.249);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #ed6e3b;
  border-top: 8px solid #e19f23;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingtext {
  margin-top: 12px;
  font-size: 18px;
  color: orange;
  font-family: Arial, sans-serif;
}
